.flex-container {
  width: 600px;
  font-family: "Open Sans";
  display: flex; /* set to "none" to hide it*/
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #DCDCDC;
  border-radius: 8px;
  margin: auto;
}

.flex-container__image--vertical {
  height: 260px;
  width: 600px;
  border-radius: 8px 8px 0px 0px;
}

.flex-container__time-level--vertical, .flex-container__time--vertical, .flex-container__level--vertical {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 50px;
  font-weight: bold;
  font-size: 18px;
  color: #B8B8B8;
}

.flex-container__level-icon, .flex-container__time-icon  {
  align-self: center;
  justify-items: space-between;
  margin-right: 10px;
  margin-left: 20px;
}

.flex-container__description-line--vertical {
  margin-left: 30px;
  height: 20px;
  align-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}

.flex-container__description-line--horizontal--advanced {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-container__description {
  text-align: center;
  padding: 10px;
}

body {
  background: #f5f5f5;
}

.flex-container--horizontal {
  height: 180px;
  width: 1000px;
  font-family: "Open Sans";
  display: flex; /* set to "none" to hide it*/
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-color: #DCDCDC;
  border-radius: 8px;
  margin: auto;
}

.flex-container--inner--vertical {
  height: 180px;
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-container__image, .flex-container__image--horizontal {
  height: 180px;
  width: 300px;
  border-radius: 8px 0px 0px 8px;
}

.flex-container__description {
  text-align: center;
  margin: 30px 30px 0px 30px;
}

.flex-container__time-level--horizontal, .flex-container__time--horizontal, .flex-container__level--horizontal {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  color: #B8B8B8;
  align-self: left;
  font-size: 18px;
}
.flex-container__time-level--horizontal {
  margin: -20px auto 0px 20px;
}

.flex-container__level-icon--horizontal, .flex-container__time-text--horizontal {
  align-self: center;
  justify-items: space-between;
  margin-right: 10px;
  margin-left: 20px;
}

.flex-container__level-text--horizontal{
  align-self: center;
  justify-items: space-between;
  margin-right: 10px; 
}

.flex-container__description-line--horizontal--expert {
  height: 20px;
  align-self: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.flex-container__progress-line--horizontal {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.flex-container__progress {
    margin: 50px auto 50px auto;
}

progress[value] {
  width: 650px;
  height: 10px;
  -webkit-appearance: none;
  appearance: none;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-color: #FACC2E;
  border-radius: 2px; 
}

progress[value]::-webkit-progress-value::before {
  content: '33%';
  position: absolute;
  right: 0;
  top: -125%;
}