<div class="flex-container">

  <!--VERTICAL FLEXBOX-->
  <div class="flex-container--vertical"
  <div class="flex-container__image"><img class="flex-container__image--vertical" src="https://www.webdessigner.com/img/%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D0%BD-%D0%B4%D0%B8%D0%B7%D0%B0%D0%B9%D0%BD-2.jpg"></div>
  <div class="flex-container__title"><h3>Advanced Front-End Course</h3></div>
  <div class="flex-container__time-level--vertical">
    <div class="flex-container__time--vertical">
      <p class="flex-container__time-icon">30 mins</p>
      <hr class="flex-container__description-line--vertical">
      </div>
    <div class="flex-container__level--vertical">
      <img class="flex-container__level-icon" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABvSURBVDhPYyAReABxGhTLgQRIAVuA+D8Ue4MESAEkaeYAYiUolgBikjTbADFMMUjjINa8DYjvQnEYEJOk+RIQwxREIbGpr9keiGdCMUgxSZozkQSmAfEQ0SwDxC5QrAHEFkh8UJKEsQ2gGMpnEAEAQfNnxA7mkcEAAAAASUVORK5CYII=">
      <p>ADVANCED</p>
    </div>
  </div>
  <div class="flex-container__description">
    <hr class="flex-container__description-line--horizontal--advanced"><p class="flex-container_description--first">This is an advanced front-end developer course, which will take you through advanced concepts on front-end development. After finishing this course, you will be able to make a complex project on your own.<p/></div>
</div>

<br><br>

<!--HORIZONTAL FLEXBOX-->
<div class="flex-container--horizontal">
  <div class="flex-container__image"><img class="flex-container__image--horizontal" src="https://blog.interviewmocha.com/wp-content/uploads/2016/09/Front-End-Developer-Skill-Set.png"></div>
  <div class="flex-container--inner--vertical">
  <div class="flex-container__description">
    <p class="flex-container_description--first">This is a an expert front-end developer course, which will take you through proficient concepts on front-end development. After finishing this course, you will be able to work at NASA.<p/></div>
  <div class="flex-container__time-level--horizontal">
    <div class="flex-container__time--horizontal">
      <p class="flex-container__time-text--horizontal">60 mins</p>
      <hr class="flex-container__description-line--horizontal--expert">
      </div>
    <div class="flex-container__level--horizontal">
      <img class="flex-container__level-icon--horizontal" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABvSURBVDhPYyAReABxGhTLgQRIAVuA+D8Ue4MESAEkaeYAYiUolgBikjTbADFMMUjjINa8DYjvQnEYEJOk+RIQwxREIbGpr9keiGdCMUgxSZozkQSmAfEQ0SwDxC5QrAHEFkh8UJKEsQ2gGMpnEAEAQfNnxA7mkcEAAAAASUVORK5CYII=">
      <p class="flex-container__level-text--horizontal">EXPERT</p>
    </div>
  </div>
    <div class="flex-container__progress">
          <hr class="flex-container__progress-line--horizontal">
      <progress max="100" value="33">33%</progress>
    </div>
  </div>
  </div>
  </div>